*,html {
	margin:0;
	padding:0;
	/*font-family:tahoma, arial, verdana, sans-serif, Lucida Sans;*/
	/*font-size:14px;*/
}
#content{
	width:560px;
	margin:10px;
	background-color:#FFFFFF;
	margin:0 auto;
	padding:0;
	padding-right:240px;
}
#messages{
	float:left;
	width:559px;
	border:1px solid #000000;
	border-top:0;
	padding-top:10px;
	background-color:#FFFFFF;
	position:relative;
	z-index:1;
	min-height:100%;
	font-family:"Times New Roman",Georgia,Serif;
}
.users{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:90%;
}
#users{
	padding-top:2px;
	border:1px solid #000000;
	border-top:0;
	margin:0 auto;
	position:relative;
	width:240px;
	top:0px;
	left:281px;
	margin-top:10px;
	z-index:3;
	overflow-y:scroll;
	font-family:"Times New Roman",Georgia,Serif;
}
.user_row{
	width:220px;
}
.user_alive{
	display:inline-block;
	width:16px;
	height:16px;
	margin:2px 5px;
	padding-bottom:2px;
	text-align:center;
	font-weight:bold;
}
.user_alive.alive1{
	border-radius:7px;
	background-color:#00FF00;
}
.user_name{
	display:inline-block;
	margin-top:-2px;
	text-decoration:none;
	color:#000000;
}
#nmessage{
	clear:both;
	position:fixed;
	bottom:0;
	width:800px;
	border:1px solid #000000;
	background-color:#FFFFFF;
	margin:0 auto;
	z-index:2;
}
#hider{
	position:fixed;
	height:10px;
	top:0;
	width:802px;
	background-color:#FFFFFF;
	z-index:3;
	border-bottom:1px solid #000000;
	border-top:0;
	margin:0 auto;
}
#messaget{
	margin:5px;
	width:500px;
	height:60px;
	margin-left:15px;
	font-family:Courier;
	z-index:2;
}
#send{
	vertical-align:top;
	height:30px;
	margin-top:5px;
	width:100px;
}
.message{
	margin:5px;
	clear:both;
	width:560px;
	margin-bottom:10px;
}
.message_photo{
	float:left;
	margin:5px;
}
.message_photo img{
	height:40px;
	border-radius:5px;
}
.message_content{
	margin-right:10px;
	margin-left:50px;
	word-wrap:break-word;
}
.message_date{
	color:#666666;
	
}
.message_author{
	font-weight:bold;
	text-decoration:none;
}
.message_author a{
	text-decoration:none;
	color:#0000FF;
}
#actions{
	display:inline-block;
	vertical-align:top;
	margin-top:5px;
}
#smilies{
	cursor:pointer;
	z-index:2;
}
#smiliesList{
	border:2px solid #000000;
	border-radius:5px;
	background-color:#FFFFFF;
	position:fixed;
	bottom:100px;
	height:150px;
	cursor:pointer;
	padding:5px;
	z-index:100;
	overflow-y:scroll;
}
#settings{
	float:right;
	width:60px;
}
#settings a{
	text-decoration:none;
	color:#000000;
	font-size:14pt;
	font-weight:bold;
	font-family:Webdings;
	/*font-variant:Webdings;*/
	margin-right:5px;
}
#settings #mtype{
	font-family:"Wingdings 3"!important;
}
#copyright{
	margin-right:5px;
	position:relative;
	font-size:12px;
	font-weight:bold;
	float:right;
}
#adb{
	position:relative;
	top:-157px;
	width:559px;
	height:80px;
	background-color:#FFFFFF;
	border-top:1px solid #000000;
}
.tabs{
	list-style: none;
	padding-left: 10px;
	border-bottom: 1px solid black;
	padding-bottom: 4px;
	margin-top:5px;
}
.tabs li{
	border-bottom:1px solid #E0E0E0;
	display: inline;
	border-radius: 10px 10px 0 0;
	background-color: #D0D0D0;
	padding: 5px 15px;
	font-weight: bold;
	cursor: pointer;
}
#nsettings{
	border:2px solid #000000;
	border-radius:5px;
	background-color:#FFFFFF;
	position:fixed;
	bottom:100px;
	height:150px;
	padding:5px;
	z-index:100;
}
#nsettings a{
	text-decoration:none;
	color:#000000;
	font-size:14pt;
	font-weight:bold;
	font-family:Webdings;
	/*font-variant:Webdings;*/
	margin-right:5px;
}
.close{
	float:right;
	position:relative;
	border:1px solid #000000;
	cursor:pointer;
}
#attach{
	margin-left:5px;
	width:20px;
	cursor:pointer;
}
#attacher{
	width:20px;
	height:24px;
	opacity:0;
	position:relative;
	left:-20px;
	cursor:pointer;
	top:-8px;
	margin-bottom:-15px;
	overflow:hidden;
}
#attacher::-webkit-file-upload-button { cursor:pointer; }
.attach{
	padding:0;
	overflow:hidden;
}
.attach img{
	position:relative;
	top:-20px;
}
.attach_remove{
	float:right;
	width:20px;
	height:20px;
	z-index:15;
	position:relative;
	opacity:0.5;
	background-color:#000000;
	color:#FFFFFF;
	cursor:pointer;
	text-align:center;
}
.attach_remove:hover{
	opacity:1;
}
#attachments{
	padding-left:5px;
}

.uToolTip {
	position: relative;
	-webkit-transform: translateZ(0); /* webkit flicker fix */
}
.uToolTip span .uTPhoto{
	float:left;
	margin-right:5px;
}
.utoolTip span .uTName{
	
}
.uToolTip span {
	background: #555555;
	bottom: 100%;
	color: #fff;
	left: -25px;
	margin-bottom: 15px;
	opacity: 0;
	padding: 10px;
	border-radius:5px;
	pointer-events: none;
	position: absolute;
	width: 300px;
	-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);
	-webkit-transition: all .25s ease-out;
		-moz-transition: all .25s ease-out;
		-ms-transition: all .25s ease-out;
		-o-transition: all .25s ease-out;
		transition: all .25s ease-out;
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
		-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
		-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
		-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
		box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}
.uToolTip span:before {
	bottom: -20px;
	content: " ";
	display: block;
	height: 20px;
	left: 0;
	position: absolute;
	width: 100%;
}
.uToolTip span:after {
	border-left: solid transparent 10px;
	border-right: solid transparent 10px;
	border-top: solid #555555 10px;
	bottom: -10px;
	content: " ";
	height: 0;
	left: 50px;
	margin-left: -13px;
	position: absolute;
	width: 0;
}
.uToolTip:hover span {
	/*pointer-events: auto;*/
}
.lte8 .uToolTip span {
	display: none;
}
.lte8 .uToolTip:hover span {
	display: block;
}

div.fade {
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	opacity:0.5;
	background:#777777;
	padding:20px;
	z-index:100;
}
div.pic{
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	padding:20px;
	text-align:center;
	z-index:101;
}
div.pic div.close{
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 200%;
	font-family: verdana;
	font-weight: bold;
	color: #000000;
	cursor: pointer;
	border:none;
}
div.pic div.close:hover{
	color:#FFFFFF;
}